#header {
    box-shadow: none;
    max-width: 1200px;
    width: 100%;
    margin: 20px auto 0;
    padding: 0 24px;
}

#header, #header .ant-select-selection, #header .ant-menu {
    background: transparent;
}

#nav {
    float: right;
    font-size: 14px;
    border: 0;
}

#nav.ant-menu-horizontal {
    border-bottom: none;
}

.ant-menu-horizontal {
    line-height: 46px;
    white-space: nowrap;
    box-shadow: none;
}

.ant-menu {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}

#navbar-layout {
    background: #fff
}

.ant-btn-round {
    vertical-align: bottom;
    font-size: 14px;
}